[Desktop Entry]
Version=1.0
Type=Application
Name=Alacritty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/home/eransa/.cargo/bin/alacritty
StartupNotify=true
Exec=/home/eransa/.cargo/bin/alacritty
Icon=/usr/local/share/icons/hicolor/128x128/apps/alacritty.png
Categories=System;TerminalEmulator;
X-TerminalArgExec=--
X-TerminalArgTitle=--title
X-TerminalArgAppId=--class
X-TerminalArgDir=--working-directory
X-TerminalArgHold=--hold
